<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Conference landing</title>
</head>
<body>
<!--    <div id="main-overlay" class="main-overlay"></div>-->
<!--    <aside id="mobile-sidebar" class="mobile-sidebar">-->
<!--        <span class="search-mobile">-->
<!--            <form id="search-mobile" class="search-mobile__form">-->
<!--                <input type="search" placeholder="Поиск">-->
<!--                <button type="submit" id="search_mobile-button" class="icon icon-search"></button>-->
<!--            </form>-->
<!--        </span>-->
<!--        <span id="mobile-exit" class="mobile-menu__exit-button">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--        </span>-->
<!--        <nav id="mobile-menu" class="mobile-menu" role="navigation">-->
<!--            <ul class="mobile-menu__list">-->
<!--                <li class="mobile-menu__menu-item _parent menu-item_lvl-1"><a href="#">Компания</a>-->
<!--                    <ul class="mobile-menu__submenu">-->
<!--                        <li class="mobile-menu__back-link back-link_lvl-1">-->
<!--                            <a href="#">Назад</a>-->
<!--                        </li>-->
<!--                        <li class="mobile-menu__menu-item _parent menu-item_lvl-2"><a href="#">О компании</a>-->
<!--                            <ul class="mobile-menu__submenu">-->
<!--                                <li class="mobile-menu__back-link back-link_lvl-2">-->
<!--                                    <a href="#">Назад</a>-->
<!--                                </li>-->
<!--                                <li><a href="#">О компании lvl-2</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><a href="#">Новости</a></li>-->
<!--                        <li><a href="#">Контакты</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="mobile-menu__menu-item _parent menu-item_lvl-1"><a href="#">Дома</a>-->
<!--                    <ul class="mobile-menu__submenu">-->
<!--                        <li class="mobile-menu__back-link back-link_lvl-1">-->
<!--                            <a href="#">Назад</a>-->
<!--                        </li>-->
<!--                        <li><a href="#">Общая информация</a></li>-->
<!--                        <li><a href="#">Блог</a></li>-->
<!--                        <li><a href="#">Форум</a></li>-->
<!--                        <li><a href="#">Фотогалерия</a></li>-->
<!--                        <li><a href="#">Видео</a></li>-->
<!--                        <li><a href="#">Должники</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="mobile-menu__menu-item _parent menu-item_lvl-1"><a href="#">Документы и отчетность</a>-->
<!--                    <ul class="mobile-menu__submenu">-->
<!--                        <li class="mobile-menu__back-link back-link_lvl-1">-->
<!--                            <a href="#">Назад</a>-->
<!--                        </li>-->
<!--                        <li><a href="#">Общая информация</a></li>-->
<!--                        <li><a href="#">Обсновые показатели финансово-хозяйственной деятельности</a></li>-->
<!--                        <li><a href="#">Сведения о выполняемых работах</a></li>-->
<!--                        <li><a href="#">Порядок и условия оказания услуг</a></li>-->
<!--                        <li><a href="#">Сведения о стоимости работ</a></li>-->
<!--                        <li><a href="#">Тарифы на коммунальные ресурсы</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="mobile-menu__menu-item _parent menu-item_lvl-1"><a href="#">Личный кабинет</a>-->
<!--                    <ul class="mobile-menu__submenu">-->
<!--                        <li class="mobile-menu__back-link back-link_lvl-1">-->
<!--                            <a href="#">Назад</a>-->
<!--                        </li>-->
<!--                        <li><a href="#">Общая информация</a></li>-->
<!--                        <li><a href="#">История начислений о оплат</a></li>-->
<!--                        <li><a href="#">Квитанция на оплату коммунальных услуг</a></li>-->
<!--                        <li><a href="#">Данные счетчиков</a></li>-->
<!--                        <li><a href="#">Оплатить услуги через сайт</a></li>-->
<!--                        <li><a href="#">Мои заявки</a></li>-->
<!--                        <li><a href="#">Управление подпиской</a></li>-->
<!--                        <li><a href="#">Графики</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="mobile-menu__menu-item"><a href="#">Вопрос-ответ</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </aside>-->
<!--    <header class="header">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-xl-7 col-lg-2 col-md-2 col-sm-2 col-3 order-xl-2">-->
<!--                    <span class="main-menu">-->
<!--                        <ul class="main-menu__list">-->
<!--                            <li class="main-menu__menu-item"><a href="#">О событии</a></li>-->
<!--                            <li class="main-menu__menu-item"><a href="#">Спикеры</a></li>-->
<!--                            <li class="main-menu__menu-item"><a href="#">Программа</a></li>-->
<!--                            <li class="main-menu__menu-item"><a href="#">Трансляция</a></li>-->
<!--                            <li class="main-menu__menu-item"><a href="#">Партнеры</a></li>-->
<!--                            <li class="main-menu__menu-item"><a href="#">Контакты</a></li>-->
<!--                        </ul>-->
<!--                        <div class="main-menu__toggle" id="menu-toggle">-->
<!--                            <span></span>-->
<!--                            <span></span>-->
<!--                            <span></span>-->
<!--                        </div>-->
<!--                    </span>-->
<!--                </div>-->
<!--                <div class="col-xl-3 col-lg-8 col-md-7 col-sm-6 col-9 order-xl-1">-->
<!--                    <a href="#" class="brand">-->
<!--                        <span class="brand__text">LOGOTYPE</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5 order-xl-3 d-none d-sm-block">-->
<!--                    <span class="register">-->
<!--                       <a href="#" class="button register__button">Регистрация</a>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->