$body-bg: #828282
$accent-first: #1f2c39
$accent-first_hover: #0053e8
$text-color: #828282
$white: #fff
$accent-second: #e94250
$block-bg: #f2f2f2


$accent-second_hover: #709dca

$block-bg_hover: #787878
