.header
  padding: 15px 0
  display: block
  position: fixed
  width: 100%
  z-index: 2
  &:after
    background-color: $accent-first
    right: 0
    left: 0
    height: 1px
    content: ''
    margin-top: 15px
    position: absolute
    z-index: -2
  &-faded
    position: fixed
    transform: translate(0, -100%)
    top: 0
    width: 100%
  &-fixed
    position: fixed
    top: 0
    width: 100%
    transform: translate(0, 0)
    transition: all .1s ease-in
.main-overlay
  position: fixed
  width: 100%
  height: 100%
  z-index: 900
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: none
  background: rgba(0, 0, 0, 0.7)
  pointer-events: all
  &.i-active
    display: block
.mobile-sidebar
  width: 300px
  position: fixed
  display: block
  height: 100%
  top: 0
  left: 0
  background-color: $white
  z-index: 1000
  padding-top: 20px
  border-right: 1px solid $accent-first
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
  transform: translate(-100%, 0) //(-100%, 0)
  &.i-active
    transform: translate(0, 0)
.search-mobile
  width: calc(100% - 30px)
  display: flex
  align-items: start
  padding: 0 20px 20px 20px
  &__form
    width: 100%
    & > input
      padding: 5px 15px
      font-size: 14px
      border-radius: 3px
      border: 1px solid $block-bg_hover
      background-color: $block-bg
      margin: 0
      outline: none
      width: 100%
    & > button
      border-radius: 0 3px 3px 0
      background-color: transparent
      border: 0
      width: 30px
      padding: 0
      outline: none
      position: absolute
      right: 54px
      top: 24px
.mobile-menu
  width: 100%
  display: block
  border-top: 1px solid $block-bg
  position: relative
  &__exit-button
    background-color: transparent
    border: 0
    z-index: 1000
    display: block
    width: 30px
    height: 30px
    position: absolute
    right: 10px
    top: 32px
    & > span
      display: block
      width: 30px
      height: 4px
      position: relative
      border-radius: 3px
      background-color: $accent-first_hover
      &:first-child
        transform: rotate(45deg) translate(1px, 0)
      &:last-child
        transform: rotate(-45deg) translate(3px, -2px)
  &__list
    display: block
    width: 100%
    list-style: none
    margin: 0
    padding: 0
    text-align: center
  &__menu-item
    border-bottom: 1px solid $block-bg
    padding: 7px 30px
    &._parent
      & > a::after
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        font-family: "Font Awesome 5 Free"
        font-weight: 900
        content: "\f105"
        font-size: 20px
        float: right
        line-height: 22px
    &._opened > .mobile-menu__submenu
      transform: translate(0, 0)
    & > a
      color: $text-color
      text-transform: uppercase
      text-decoration: none
  &__submenu
    position: absolute
    right: 0
    left: 0
    top: 0
    display: block
    height: 100%
    list-style-type: none
    padding: 0
    background-color: $white
    z-index: 1002
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
    transform: translate(-100%, 0)
    & > li
      border-bottom: 1px solid $block-bg
      padding: 10px 30px
      & > a
        color: $text-color
        text-transform: uppercase
        text-decoration: none
  &__back-link
    text-align: left
    & > a
      width: 100%
      display: block
      &::before
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        font-family: "Font Awesome 5 Free"
        font-weight: 900
        content: "\f104"
        font-size: 20px
        line-height: 20px
        margin-right: 10px



.brand
  display: flex
  align-items: center
  width: 100%
  outline: none
  height: 100%
  &::before
    content: ''
    display: inline-block
    width: 40px
    height: 40px
    border: 10px solid $accent-first
    border-radius: 50%
    margin: -4px 10px 0 0
    background-color: $block-bg
  &:hover
    text-decoration: none
  &__text
    display: inline-block
    white-space: pre-wrap
    float: left
    font-size: 24px
    line-height: 32px
    font-weight: 700
    color: $accent-first






.main-menu
  display: flex
  align-items: center
  height: 100%
  width: 100%
  &__list
    display: flex
    margin: 0
    padding: 0
    list-style: none
  &__list > li+li
    margin-left: 10px
  &__list > li
    position: relative
    flex-basis: auto
    flex-grow: 1
    text-align: center
    & > a::after
      content: ''
      width: 100%
      height: 2px
      display: block
      position: absolute
      margin-top: 3px
      background-image: linear-gradient($accent-first, $accent-first)
      background-position: 50% 50%
      background-repeat: no-repeat
      background-size: 0% 100%
      transition: background-size .5s, color .5s
    &:hover > a::after
      background-size: 100% 100%
  &__list > li > a
    display: block
    color: $accent-first
    text-transform: uppercase
    font-weight: 600
    font-size: 14px
    text-decoration: none
  &__toggle
    display: none
    position: relative
    z-index: 1
    user-select: none
    border: 1px solid $block-bg_hover
    background-color: $white
    padding: 8px 4px
    cursor: pointer
    & span
      display: block
      position: relative
      border-radius: 3px
      z-index: 1
      background: $block-bg_hover
      width: 30px
      height: 4px
      margin-bottom: 5px
      &:last-child
        margin-bottom: 0
    &:hover
      background-color: $accent-first
      border: 1px solid $accent-first
      & > span
        background: $white





.register
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  &__button
    background-color: $accent-second
    color: $white



.bg-red
  width: 600px
  height: 600px
  background-color: red

  border-bottom: solid 1px white


@import media
